<nav class="navbar navbar-dark bg-dark">
  <div class="input-group">
    <a class="navbar-brand mb-0 h1" routerLink="/">
      SortGrapher
    </a>
    <button class="btn btn-primary" type="submit">Randomize</button>
    &nbsp; &nbsp;
    <select
      class="custom-select col-sm-3"
      id="inputGroupSelect04"
      aria-label="Example select with button addon"
    >
      <option selected>Choose Algorithm...</option>
      <option value="1" id="">Merge Sort</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    &nbsp; &nbsp;
    <button class="btn btn-success" type="submit">
      Sort!
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
